:is(h1, h2, h3, h4, h5, h6, p) {
  font-family: "Nunito", sans-serif;
}
ul li {
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #80e7ff;
  font-size: 30px;
  text-shadow: 4px 4px 4px black;
  /* -webkit-text-stroke: 1px black; */
}

h2 {
  color: #000;
  font-size: 1.5rem;
}

p {
  margin-left: 2rem;
}

/* 
font-family: "Lato", sans-serif;
 */
